<div  class="cd-full-width col-md-3 col-md-offset-5" style="margin-top: 20%;">

	<img src="assets/img/cloud.png" style="max-width: 20%; max-height: 20%;">  
	<label style="color: white; font-size: x-large;">Sign in to Cloud Recovery</label>  

	<br>

    <div  class="social-sizes" style="padding-top: 20px;">


    	<a class="btn btn-block btn-social btn-lg btn-google" href="/auth/google">
            <span class="fa fa-google"></span> Log in with Google
        </a>

         <a class="btn btn-block btn-social btn-lg btn-github" href="/auth/github">
            <span class="fa fa-github"></span> Log in with Github
        </a>



     </div>
</div>